#PORT=

#BETTER_AUTH_SECRET=K6uqTdgVioPEhlwtMpv7HwCZEVgyrsek
#BETTER_AUTH_URL=http://localhost:5000

#PG_DB_URL=postgresql://user:password@localhost:5432/db

# This was inserted by `prisma init`:
#[object Promise]